{% include '../components/headers/header.njk' %}

<div class="main-padding padding-top flex-wrap justify-center">
	<h1 class="block-padding">
		<a href="/#{{ artist.slug.current }}-card"><i class="fas fa-arrow-left
				duration-150 hover:scale-105"></i></a>
		&nbsp;&nbsp;&nbsp;{{ artist.artistName }}
	</h1>
	
	<div class="relative block-padding w-full max-w-xl self-center mx-auto">
		{% for ringName, ring in artist.artistRings %}
			{% set ringClass %}
				{% if loop.index0 == 0 %}
					lazy relative block w-full h-auto min-w-full min-h-[400px] md:min-h-80 object-center object-cover
				{% else %}
					lazy absolute top-0 block w-full h-auto min-w-full min-h-[400px] md:min-h-80 object-center object-cover
				{% endif %}
			{% endset %}

			{% set ringImageAlt = [artist.artistName, ' - ', ringName] | join %}
			{% image ring, ringClass, ringImageAlt, "100%", [1000] %}
		{% endfor %}
	</div>

	<div class="relative flex w-full block-padding justify-center">
		<a class="std-round-button mx-auto self-center" href="/{{ site.navigation.interactivePage }}/?rings={{artist.artistCode}}{{artist.artistCode}}{{artist.artistCode}}{{artist.artistCode}}{{artist.artistCode}}">
			Get Code!
		</a>
	</div>

	<span class="block-padding">
		{{ artist.artistBio | sanityBlocksToMarkdown | markdownify | safe }}
	</span>

	<div class="block-padding">
		{% for social in artist.artistSocials %}
			{% set socialIcon %}
				{% switch social.socialType %}
					{% case 'website' %}
						fas fa-external-link-square-alt
					{% case 'linkedin' %}
						fab fa-linkedin
					{% default %}
						fab fa-{{ social.socialType }}-square
				{% endswitch %}
			{% endset %}

			<a aria-label="{{ social.socialType }} - {{ social.socialTitle }}" class="group relative mr-4 md:mr-8" href="{{ social.url }}" target="_blank" rel="noreferrer">
				<i class="{{ socialIcon }} relative text-primary-text text-3xl md:text-4xl duration-100 group-hover:scale-110 z-10"></i>	
			</a>	
		{% endfor %}
	</div>
</div>
