
<div id="displayRings" class="inset-0">
	<div class="absolute inset-0 flex flex-col items-center justify-end pb-12 pointer-events-none">
		{% include ("layouts/utilities/ringContainer.njk") %}
	</div>
</div>

<div class="absolute inset-0 opacity-0 overflow-hidden">
	<div id="reader" width="600px"></div>
</div>