<div class="inset-0">
	<button id="qrButton">Generate Code</button>

	<div id="qrOverlay" class='absolute z-10 left-0 top-0 w-screen h-screen flex items-center justify-center'>
		<div class="absolute bg-primary-bg m-auto h-full w-full max-h-[300px] max-w-[300px]">	
			<canvas id="qrcodeCanvas" class="relative !w-full !h-full rounded-3xl"></canvas>
			<div class="relative pt-4 flex items-center justify-center">
				<p id="qrClose" class='relative std-round-button cursor-pointer inline-block'>close</p>
			</div>
		</div>
	</div>

	<div id='ringContainer' class='absolute flex justify-center items-center top-0 left-0 h-screen w-screen'>
		{% for artist in artists.artists %}
			{% for ringName, ring in artist.artistRings %}
				{% set ringImageAlt = [artist.artistName, ' - ', ringName] | join %}
				{% set ringData = [{'data-artistCode': artist.artistCode},{'data-ring': ringName}] %}
				{% image ring, "designRing lazy absolute origin-top-left m-auto top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 hidden
						w-auto h-auto max-w-xl max-h-[65%] object-center object-contain cursor-pointer", ringImageAlt, "100%", [2160], ringData %}
			{% endfor %}
		{% endfor %}
	</div>
</div>