{% include '../components/headers/header.njk' %}


<div id="interactiveRings" class="inset-0">

	<div id="qrOverlay" class='absolute z-30 left-0 top-0 w-screen h-screen flex items-center justify-center hidden
		after:absolute after:inset-0 after:bg-primary-bg after:opacity-90'>

		<div class="absolute bg-primary-bg m-auto z-10 h-0 w-[min(350px,90%)] pb-[min(350px,90%)]">	
			<canvas id="qrcodeCanvas" class="relative !w-full !h-auto rounded-3xl"></canvas>
			<div class="relative pt-4 flex items-center justify-center">
				<p id="qrClose" class='relative std-round-button cursor-pointer inline-block'>close</p>
			</div>
		</div>
	</div>

	<div class="absolute inset-0 flex flex-col items-center justify-end pb-12 pointer-events-auto">
		{% include ("layouts/utilities/ringContainer.njk") %}
		<p id="qrButton" class='relative std-round-button cursor-pointer inline-block z-20'>Generate Code</p>
	</div>
</div>