{#
	Main header component used across the site.
#}

<header id="header">
	<div class="fixed top-0 z-50 min-w-full bg-secondary-bg shadow-lg">
		<div class="main-padding flex flex-row justify-between overflow-hidden w-screen pt-header pb-header">
			<a class="whitespace-nowrap" href="/">
				<h1 class="leading-none text-header-text">
					{{ site.siteSettings.title }}
				</h1>
			</a>
			<div class="group relative w-[var(--header-item-height)] h-[var(--header-item-height)] block z-10 cursor-pointer">
				<a href="/{{ site.navigation.interactivePage }}">
					<i class="fas fa-qrcode duration-100 text-primary-text z-10 text-header-text group-hover:scale-110" aria-label="QRCode Link to Interactive Page"></i>
				</a>
			</div>	
		</div>

		<div class="absolute left-0 right-0 bottom-0 mt-0.5 h-0.5 bg-primary-border"></div>
		<div id="scrollProgressBar" class="absolute left-0 bottom-0 mt-0.5 h-0.5 bg-gradient-to-r from-primary-accent to-secondary-accent"></div>
	</div>

	<div class="relative w-full h-[var(--header-total-height)] min-h-[var(--header-total-height)]"></div>
</header>
