{#
	Basic Text Section Block.
#}

<div class="w-full">
	{% set cardID = 0 %}
	{% asyncEach artist in section.artists %}
		{% set cardLoop = loop.index0 %}
		{% include "../cards/artistCard.njk" %}
	{% endeach %}
</div>
