<div class="main-padding block-padding w-full">
	<div class="w-full">
		<iframe src="{{ section.url }}" title="Embedded Content - {{ section.embedTitle }}" width="640" height="480" class="lazy block w-full h-96"></iframe>
	</div>
</div>