{#
	Image Section
#}

<div class="relative flex overflow-hidden main-padding">
	<div class="duration-500 relative flex">
		{% image section.image, "lazy relative block w-full h-auto min-w-full max-w-xl object-center object-contain", "{{ section.title }}", "100%", [720] %}
	</div>
</div>