{#
	Basic Text Section Block.
#}

<div class="text-type-container {{ section.textType }}">
	<div class="flex flex-col text-container main-padding block-padding">
		{{ section.text | sanityBlocksToMarkdown | markdownify | safe }}
	</div>
</div>
