/*
* Additional styling for header menu button
*/

:root {
	--header-item-height: 20px;
	--header-padding: 20px;
	--header-total-height: 60px;
	--header-total-padding: cacl(-1 * var(--header-total-height));

	@media (--md-screen) {
		--header-item-height: 25px;
		--header-padding: 25px;
		--header-total-height: 75px;
		--header-total-padding: calc(-1 * var(--header-total-height));

	}
}


#header {
	&.menu-open {
		& > #menu-container {
			@apply pointer-events-auto;

			& > #menu-background {
				@apply md:opacity-70;
			}

			& > #menu {
				@apply opacity-100;
			}
		} 
	}
}

