{#
	Container for Design Rings, used for display and interaction
#}
<div id='ringContainer' class='absolute flex align-middle justify-items-center justify-center top-0 left-0 h-screen w-screen overflow-hidden object-contain'>
	{% for artist in artists.artists %}
		{% for ringName, ring in artist.artistRings %}

			{% set ringImageAlt = [artist.artistName, ' - ', ringName] | join %}
			{% set ringType = ['data-ringtype=', ringName] | join %}

			{% set sizing %}
				{% if ringDisplay == true %}
					max-h-full w-auto h-full
				{% else %}
					max-h-[65%] w-auto h-[65%]
				{% endif %}
			{% endset %}

			{% set ringClasses %}
				designRing lazy max-h-full w-auto h-full object-contain
			{% endset %}

			{% set pictureClasses %}
				{{ sizing }} absolute self-center hidden cursor-pointer
			{% endset %}

			{% image ring, ringClasses, ringImageAlt, "100%", [480, 1080, 2160], ringType, pictureClasses %}

		{% endfor %}
	{% endfor %}
</div>