---
permalink: false
---

{% set pageDescriptor %}
	{% if pageData.description %}
		{{ pageData.description }}
	{% else %}
		{{ site.siteSettings.description }}
	{% endif %}
{% endset %}

{% set pageTitle %}
	{% if pageData.descriptiveTitle %}
		{{ pageData.descriptiveTitle }}
	{% elif artist.artistName %}
		{{ site.siteSettings.title }} | {{ artist.artistName }}
	{% else %}
	{% endif %}

{% endset %}

<!doctype html>
<html lang="en" class="{{ '' if  pageData.template == 'defaultPage' else 'dark' }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{{ pageTitle }}</title>
		<meta name="description" content="{{ pageDescriptor }}">

		{% bundlePointer "CSS" %}
	</head>
	<body class="relative min-h-full h-auto w-full top-0">
		<main id="pageContent" class="relative min-h-screen h-auto w-full top-0 pb-12">
			{{ content | safe }}
		</main>
	</body>
	<footer>
		{# TODO cache these resources #}
		<link rel="preconnect" href="https://fonts.gstatic.com" defer> 
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" defer>
		<script src="https://kit.fontawesome.com/5d68704bfb.js" crossorigin="anonymous" defer></script>
		{% bundlePointer "mainJS" %}
	</footer>
</html>